doctype html
html(lang="en")
  head
    title Sample Express site
  body
    h1 Sample Express site

    Some links:
    ul
      li
        a(href='blog/first') First blog post
      li
        a(href='blog/second') Second blog post
